.perdeu-container {
    width: 100vw;
    height: 100vh;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* PERSONAGEM ESCOLHIDO */

.personagem-perdeu {
    position: absolute;

    left: 50%;
    bottom: 115px;

    transform: translateX(-50%);

    display: flex;
    justify-content: center;
    align-items: flex-end;

    z-index: 5;
}

.personagem-perdeu img {
    width: 90px;
    height: auto;

    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

/* BOTÃO AULA */

.botao-aula {
    position: relative;

    margin-bottom: 35px;

    padding: 16px 40px;

    background: #e8b63a;
    color: #222;

    border: 4px solid #222;
    border-radius: 8px;

    font-family: "Press Start 2P", monospace;
    font-size: 18px;
    font-weight: bold;

    box-shadow: 5px 5px 0 #222;

    cursor: pointer;

    z-index: 10;

    transition: transform 0.1s, box-shadow 0.1s;
}

.botao-aula:hover {
    transform: translate(2px, 2px);
    box-shadow: 3px 3px 0 #222;
}

.botao-aula:active {
    transform: translate(5px, 5px);
    box-shadow: 0 0 0 #222;
}