.perdeu-container {
    width: 100vw;
    height: 100vh;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    position: relative;
    overflow: hidden;
}

/* PERSONAGEM NA TELA DE PERDEU */

.personagem-perdeu {
    position: absolute;

    bottom: 110px;
    left: 50%;

    transform: translateX(-50%);

    display: flex;
    justify-content: center;
    align-items: flex-end;

    z-index: 5;
}

.personagem-perdeu img {
    width: 150px;
    height: auto;

    image-rendering: pixelated;
}

/* BOTÃO */

.botao-aula {
    margin-bottom: 40px;

    background: #e8b63a;
    color: #222;

    font-family: "Press Start 2P", monospace;
    font-size: 18px;
    font-weight: bold;

    padding: 18px 45px;

    border: 4px solid #222;
    border-radius: 8px;

    box-shadow: 5px 5px 0 #222;

    cursor: pointer;

    z-index: 10;

    transition: 0.1s;
}

.botao-aula:hover {
    transform: translate(2px, 2px);
    box-shadow: 3px 3px 0 #222;
}

.botao-aula:active {
    transform: translate(5px, 5px);
    box-shadow: 0 0 0 #222;
}