@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.perdeu-container {
    width: 100vw;
    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    background-color: #111;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    position: relative;
}

/* BOTÃO */

.botao-aula {
    margin-bottom: 35px;

    padding: 15px 30px;

    background: #e8b63a;
    color: #222;

    border: 4px solid #222;
    border-radius: 8px;

    font-family: "Press Start 2P", monospace;
    font-size: 14px;

    cursor: pointer;

    box-shadow:
        5px 5px 0 #000;

    transition: 0.15s;
}

.botao-aula:hover {
    transform: translate(3px, 3px);

    box-shadow:
        2px 2px 0 #000;
}

.botao-aula:active {
    transform: translate(5px, 5px);

    box-shadow:
        0 0 0 #000;
}